/*
Attention Seeker
Pippin Barr
Just some styling you know.
*/

#happy, #sad {
  position: absolute;
  margin: 0.5em;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20em;
  opacity: 0;
  transform: rotateZ(90deg);
}

#webcam {
  position: absolute;
  visibility: hidden;
}
