
/*
Daniel Munoz
*/

@font-face {
    font-family: cinzel;
    src: url(../fonts/Cinzel-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: montserratRegular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

body {
  background-color: #121d23;
  margin: 0;
  padding: 0;
}

.background_space{
  animation-name: flashing;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes flashing{
  0% {background-color: #57397c;}
  50%{background-color: #b71963;}
  100% {background-color: #57397c;}
}

h1{
  position: absolute;
  font-family:cinzel;
   font-weight: 100;
  font-size: 10em;
  color: white;
  margin-left: 15%;
  z-index: 6;
}

#instructions{
  width: 33.3%;
  position: absolute;
  margin-top: -56%;
  margin-left: 33.3%;
  text-align: center;
  opacity: 0;
}

.instructionsVisible{
    animation-name: mostra;
    animation-duration: 160s;
    animation-fill-mode: forwards;
}

@keyframes mostra{
  0% {opacity: :0;}
  100% {opacity:1;}
}

h2{
  font-family:montserratRegular;
  font-size: 0.9em;
  color: #f4c542;
}

#container{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
}


/* ------------------ Contents ------------------- */

#mango{
  width: 110px;
  height: 110px;
  display: block;
  position:absolute;
  background-image: url("../images/antena.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -3%;
  margin-left: 45%;
  z-index: 5;
}

#stars{
  display: block;
  position:relative;
  max-width: 100%;
  max-height: 100%;
  margin-top: 20%;
  z-index: 1;
}

#cloud_2{
  display: block;
  position:relative;
  max-width: 28%;
  margin-top: -30%;
  z-index: 2;
}

#cloud{
  display: block;
  position:relative;
  max-width: 37%;
  margin-top: 20%;
  z-index: 2;
}

#pulpo{
  display: block;
  position:relative;
  width: 28%;
  height: 14%;
  margin-top: -1%;
  z-index: -1;
}

#flamingo{
  display: block;
  position:relative;
  max-width: 20%;
  margin-top: -30%;
  z-index: 2;
}

#camaleon{
  display: block;
  position:relative;
  max-width: 40%;
  margin-top: -40%;
  z-index: 2;
}

#branch_2{
  display: block;
position:relative;
  max-width: 24%;
  margin-top: -40%;
  margin-left: 66%;
  z-index: 1;
}


#branch_4{
  display: block;
  position:relative;
  max-width: 24%;
  margin-top: -50%;
  margin-left: 0%;
  z-index: 1;
}

#button_start{
  position: static;
  background-image: url(../images/guy.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 120px;
  z-index: 5;
  margin: 5% auto;

}

#city_2{
  display: block;
  position:relative;
  max-width: 100%;
  margin-top: -40%;
  margin-left: 0%;
  z-index: 1;
}

#slums{
  display: block;
  position:relative;
  max-width: 130%;
  margin-top: -18%;
  margin-left: 0%;
  z-index: 2;
}

#slums2{
  display: block;
  position:relative;
  max-width: 130%;
  margin-top: -20%;
  margin-left: -10%;
  z-index: 1;
}

#necro_1{
  display: block;
  position:relative;
  max-width: 55%;
  margin-top: -52%;
  margin-left: -20%;
  z-index: 3;
}

#necro_2{
  display: block;
  position:relative;
  max-width: 55%;
  margin-top: -52%;
  margin-left: -20%;
  z-index: 3;
}

#cosa{
  display: block;
  position:relative;
  max-width: 35%;
  margin-top: -2%;
  margin-left: 70%;
  z-index: 3;
}



#satellite{
  display: block;
  position:relative;
  max-width: 23%;
  margin-top: -60%;
  margin-left: 70%;
  z-index: 3;
}

#background{
  display: block;
  position:relative;
  max-width: 120%;
  margin-top: -60%;
  margin-left: -10%;
  z-index: -2;
}

#birds{
  display: block;
  position:relative;
  max-width: 50%;
  margin-top: -51%;
  margin-left: -50%;
  z-index: 5;
}

#button_start{
  background-image: url("../images/yo.png");
  background-color: blue;
  position:absolute;
  margin-top: 10%;
  margin-left:0%;
  max-width: 60%;
  z-index: 8;
}

.birds-motion{
  animation-name: moveright;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes moveright{
  0% {margin-left: -50%;}
  100% {margin-left: 100%;}
}

/* ------------------ Scrolling JQuery Plugg-in ------------------- */

.skrollable {
	position:fixed;
	z-index:100;
}
.skrollable .skrollable {
	position:absolute;
}
.skrollable .skrollable .skrollable {
	position:static;
}
