
/*
Daniel Munoz
*/

@font-face {
    font-family: prata;
    src: url(../fonts/prata-Regular.ttf);
}

body {
  background-color: #211f1d;
  margin: 0;
  padding: 0;
}

#container{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#branch_1{
  width: 34%;
  height:57%;
  margin-top: 1%;
  margin-left: 66%;
  z-index: 3;
}

#branch_2{
  position:relative;
  width: 34%;
  height:41%;
  margin-top: -7%;
  margin-left: 66%;
  z-index: -2;
}

#branch_3{
  display: block;
  position:relative;
  width: 44%;
  height:51%;
  margin-top: -27%;
  margin-left: 0%;
  z-index: 3;
}

#branch_4{
  position:relative;
  width: 44%;
  height:51%;
  margin-top: -10.7%;
  margin-left: 0%;
  z-index: 2;
}
